body    {
    background-color: #F1F1F1;
}

div {
    text-align: center;
    margin: 0px auto;
    width: 600px;
    margin-bottom: 40px;
}

img {
    width: 170px; 
}

h1  {
    border: 5px solid #606062;
    color: #606062;
    padding: 5px 0;
    font-family: Verdana;
}

h2  {
    font-family: Verdana;
    font-size: 20px;
    padding: 14px 0;
    color: #7A797B;
    padding-bottom: 20px;
}

h3  {
    font-family: Verdana;
    font-size: 18px;
    font-weight: normal;
    color: #606062;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 5px;
}

p   {
    font-family: Verdana;
    font-size: 18px;
    color: #606062;
    line-height: 25px;
    text-align: justify;
    padding-bottom: 20px;
}

span    {
    font-weight: bold;
}

a   {
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: solid 0;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #0b8b0b;
    color: #F1F1F1;
    width: 600px;
}